body {
  margin: 0;
  font-family: cursive;
  background-color: black;
}

h1 {
  text-align: center;
  background-color: #024d90;
  margin-top: 0;
  padding: 45px 0;
  font-size: 50px;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-container {
  background-color: slateblue;
  width: 300px;
  height: 150px;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border: 4px solid white;
  border-radius: 10px;
}
