@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@400;500;600;700;800;900&family=REM:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "REM", sans-serif;
  background-color: #1c1917;
  line-height: 2.2;
  font-size: 0.875rem;
}

ul {
  list-style: none;
  margin-right: 70px;
}

nav {
  background-color: #020617;
  box-shadow: 0 5px 15px rgba(15, 23, 42, 0.1);
}

.fa-bars-staggered {
  font-size: 2rem;
  color: #06b6d4;
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 30px;
}

.fa-bars-staggered:hover {
  color: white;
}

.menu a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  font-size: 1rem;
}

.menu a:hover {
  color: #020617;
  background: #06b6d4;
  padding-left: 1.5rem;
}

.menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-menu {
  height: 10rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

svg {
  margin-top: 0px;
}

@media (min-width: 800px) {
  .nav-main {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .fa-bars-staggered {
    color: #020617;
    cursor: inherit;
  }

  .fa-bars-staggered:hover {
    color: #020617;
  }

  .menu {
    height: auto;
    display: flex;
  }

  .menu a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .menu a:hover {
    padding: 0;
    background: transparent;
    color: #06b6d4;
  }
}
