@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Mooli&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Nunito, Mooli, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/06/05/38/boats-1802340_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0.4rem);
    padding: 1.5rem 3rem;
    text-align: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-inline: 5rem;
}

input,
select {
    width: 7rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-inline: 8px;
    background-color: rgb(250, 235, 215, 0.5);
    backdrop-filter: blur(0.4rem);
    margin: 0.5rem;
}

.div {
    background-color: rgb(250, 235, 215, 0.7);
    height: 2px;
    margin: 1rem;
}

option {
    background-color: aliceblue;
}

h1 {
    text-transform: uppercase;
    background-color: rgb(250, 235, 215, 0.5);
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
}

.exchange-rate {
    color: antiquewhite;
    font-size: 18px;
    font-weight: 600;
}
